* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.paragrafo-1 {
    color: greenyellow;
    font-size: 10px;
}

.paragrafo-2 {
    color: rgb(168, 161, 161);
    font-size: 11px;
    margin-top: 10px;
}

.caixa-maior {
    background-color: #000000;
    width: 95%;
    max-width: 420px;
    opacity: 0.8;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;

}

.profile-buttons {
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    margin-top: 10px;
}

button {
    border: none;
    outline: none;
    padding: 10px;
    float: right;
    cursor: pointer;
    background-color: #7c7c7c2b;
    color: azure;
    text-align: center;
    width: 200px;
    border-radius: 10px
 }

 button:hover {
    background-color: rgb(122, 147, 86);
}
